// MODAL MODIFICATION ET SUPPR PROJET////////////////////////////////////////////////////////////

// Variables Générales
$police-principale: 'Work Sans';
$couleur-principale: #B1663C;
$police-secondaire: 'Syne';
$couleur-secondaire: #1D6154;
$couleur-fond: #FFFEF8;

/* Modal */

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	transition: visibility 0.4s;
	.tri-photos{
		padding: 46px 0px;
		border-bottom: 1px solid #B3B3B3;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 5px;
		.img-modal-container{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 102px;
			img {
				height: 100%;
				width: auto;
				max-width: 76px;
			}
			p {
				font-size: 14px;
			}
			i {
				position: absolute;
				right: 5px;
				top: 5px;
				color: #fff;
				background-color:#000;
				cursor: pointer;
				font-size: 0.7rem;
				padding: 4px;
			}
		}
		
	}
	.supprimer-photos {
		font-family: 'Syne';
		text-decoration: none;
		color: #D65353;
		cursor: pointer;
	}
}




.modal-container-ajout {
	
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	
	.row-modal{
		padding: 8px 10px;
		border: none;
		font-size: 24px;
		background-color: #FFFEF8;
		position: absolute;
		top: -3px;
		left: 24px;
		cursor: pointer;
	}
	.ajout-photo-before {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 169px;
		width: 420px;
		background-color: #E8F1F6;
		margin-top: 36px;
		i{
			font-size: 76px;
			color:#B9C5CC;
		}
	}
	.ajout-photo-after {
		display: none;
		img {
			height: 169px;
		}
	}
	img {
		margin-top: 22px;
		font-size: 58px;
	}
	#ajouterPhotoBtn {
		background-color: #CBD6DC;
		color: #306685;
		height: 36px;
		width: 173px;
		font-size: 14px;
		border: none;
		border-radius: 50px;
		cursor: pointer;
	}
	#ajouterPhotoBtn:hover {
		background-color: #0056b3;
	}
	p {
		font-size: 10px;
	}
	form {
		display: flex;
		flex-direction: column;
		gap: 21px;
		text-align: left;
		margin-top:30px;
		border-bottom: 1px solid #B3B3B3;
		padding-bottom: 46px;
	}
	.input-photo {
		width: 420px;
		height: 51px;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
		border: none;
	}
	label{
		font-family: 'Work Sans';
		font-size: 14px;
		font-weight: 500;
	}
	
}


.overlay {
	opacity: 30%;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000;
	transition: opacity 0.4s 0.2s ease-out;
}
.modal {

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 630px;
	height: 688px;
	max-width: 500px;
	min-width: 300px;
	padding: 30px;
	background: #ffffff;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% - 50px));
	transition: opacity 0.4s ease-out,
	transform 0.4s ease-out;
	h3 {
		font-size: 26px;
		font-weight: 400;
		margin-top: 60px;
	}
	.input-modal {
		width: 236px;
		height: 36px;
		margin-bottom: 23px;
		margin-top: 38px;
	}
}

.close-modal {
	padding: 8px 10px;
	border: none;
	font-size: 24px;
	background-color: #FFFEF8;
	position: absolute;
	top: 14px;
	right: 24px;
	font-weight: 700;
	cursor: pointer;
}

/* header */

.instagram {
	width: 17px;
	cursor: pointer;
}
