@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #FFFEF8;
}

header, section {
  margin: 50px 0;
}

header {
  display: flex;
  justify-content: space-between;
}

h1, h2 {
  font-family: "Syne";
  font-weight: 800;
  color: #B1663C;
}
h1 > span, h2 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
nav li:hover {
  color: #B1663C;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure, #introduction article {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction h2, #introduction p {
  margin-bottom: 1em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 139px;
}
#portfolio .projets-btn {
  display: flex;
  gap: 20px;
  margin: 51px;
  justify-content: center;
}
#portfolio .projets-btn button {
  display: block;
  font-family: "Syne";
  font-weight: 700;
  height: 37px;
  min-width: 80px;
  color: #1D6154;
  width: auto;
  text-align: center;
  border: 1px solid #1D6154;
  border-radius: 60px;
  background-color: #FFFEF8;
}
#portfolio .projets-btn .selected {
  background-color: #1D6154;
  color: #FFFEF8;
}
#portfolio .modify {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 139px;
  gap: 31px;
}
#portfolio .modify h2 {
  margin: 0;
}
#portfolio .modify button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #FFFEF8;
  width: 84px;
  border: none;
  font-size: 15px;
  color: #1D6154;
  cursor: pointer;
}

.gallery {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 50px;
}

.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input, #contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

body, html {
  height: 100%;
}

.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Work Sans";
  background-color: #FFFEF8;
}

.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login h2 {
  font-family: "Syne";
  color: #1D6154;
}
.login p {
  margin-bottom: 7px;
}
.login .login-email, .login .login-password, .login input[type=submit] {
  height: 51px;
  width: 379px;
  margin-bottom: 52px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.login input[type=submit] {
  background-color: #1D6154;
  color: white;
  cursor: pointer;
}
.login a {
  color: #B1663C;
}

footer {
  background-color: white;
  color: #000000;
  text-align: center;
  padding: 20px 0;
}

.edit-overlay {
  display: none;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 59px;
  background-color: #000;
  z-index: 1000; /* pour s'assurer qu'il apparaît au-dessus des autres éléments */
  justify-content: center;
}

.overlay-text {
  color: white;
  text-align: center;
  line-height: 59px; /* centré verticalement */
}/*# sourceMappingURL=style.css.map */