$main-font: 'Work Sans';
$main-color: #B1663C;
$second-font: 'Syne';
$second-color: #1D6154;
$bg-color : #FFFEF8; ;
// HEADER ////////////////////////////////////



header {
  display: flex;
	justify-content: space-between;
	margin: 50px 0;
  width: 100%;

  h1{
font-size: 20px;
  }
}

a{
	text-decoration: none;
	color: $second-color;
}



nav {
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
    }
  
    li {
      padding: 0 10px;
      font-size: 1.2em;
  
      &:hover {
        color: $main-color;
      }
    }
  }

  .login-btn {
    display: block;
  }
  .logout-btn {
    display: none;
  }